// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/unbranded';

// Take a look at in assets/sass/patterns.scss to see which files are imported.
@import 'patterns';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

strong {
  font-weight: 700;
}

// Less spacing for headings after <hr> keylines

hr + .grid-row .column-two-thirds h2 {
  margin-top: 5px;
}

// Header banner (feel like this class should already exist somewhere else)
.swatch {
  background-color: $govuk-blue;
}

.header-banner {
  color: $white;
  width: 100%;
  margin-top: -10px;
  margin-bottom: -30px;

  h1 {
    margin: 0 0 30px;
  }

  p {
    margin-bottom: 30px;
  }

  a {
    color: $white;
  }

  .button-start {
    background-image: url(../images/icon-pointer-blue-2x.png);
    background-size: 30px 19px;
    background-color: $white;
    color: $govuk-blue;
  }

  .button-alternative {
    position: relative;
    top: 8px;
    left: 8px;
  }

  .phase-banner-alpha {
    color: #fff;
    border-bottom: none;

    p {
      color: $white;
    }
  }

  @media (max-width: 640px) {
    margin-bottom: 0;
  }

}

.search {
  padding-top: 15px;

  .wrapper {
    float: left;
    width: 75%;
  }

  .form-control {
    width: 100% !important;
  }

  input {
    -webkit-appearance: none;
    border: 1px solid $black;
    font-size: 19px;
    line-height: 40px;
    padding: 0 10px;
  }

  .submit {
    background-color: $black;
    background-image: url("../images/icon-search-2.png");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 10px;
    color: rgba(0,0,0,0);
    width: 40px;
    position: relative;
    left: 20px;
  }

  .submit:hover {
    cursor: pointer;
  }

}

.twitter-typeahead {
}

.tt-suggestion {
  color: $black;
}

.tt-menu {
  width: 100%
}

::-webkit-input-placeholder {
   color: $secondary-text-colour;
}

// Download data link on transaction pages

.notice-spacing {
  padding: 15px 0;
}

// Time period selector

.time-period-selector {
  padding: 15px 0;

  li {
    display: inline;
    padding: 0 5px 0;
  }

  li:first-of-type {
    padding-left: 0;
  }

}

.border-bottom {
  border-bottom: 1px solid $border-colour;
  margin-bottom: 30px;
}

.border-top {
  margin-top: 30px;
  border-top: 1px solid $border-colour;
}

#time-period-selected {
  font-weight: bold;
}

// Colours for arrows

.data-increase-arrow { color: $button-colour; }
.data-decrease-arrow { color: $mellow-red; }
.data-neutral-arrow { color: $secondary-text-colour; }

// Add 30px spacing at top of anchor links

:target:before {
content:"";
display:block;
height:30px;
margin:-30px 0 0;
}

// performance-data page styles

.metadata {
  font-size: 16px;

  dt, dl {
    float: left;
    clear: left;
    width: 8em;
  }

  dd {
    width: 70%;
    float: left;

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  dt {
    width: auto;
    min-width: 120px;
    padding-right: 10px;
  }

  @media (max-width: 640px) {

    dd {
      margin-bottom: 10px;
    }

  }

}

.date-range-selector {

  .form-group {
    float: none;
    display: inline-block;
    width: auto;

    .form-control {
      width: 250px;
      margin-right: 10px;
    }

  }

  input, a {
    vertical-align: middle;
    margin-right: 10px;
  }

}

.initially-hidden {
  display: none;
}

.data-box-alt {
  color: $white!important;
  background-color: $govuk-blue;
  padding: 25px 25px 10px;
  border: 2.5px solid $white;
  min-height: 190px;
  text-decoration: none;
  margin-bottom: 30px;

  p {
    text-decoration: underline;
  }


  @media (max-width: 640px) {
    display: block;
    width: 100%;
    min-height: 0;
    padding: 15px 15px 5px;
    border: none;
    margin-bottom: 15px;
  }

}

.data-box-alt:hover {
  color: $white!important;
  background-color: $link-hover-colour;
}

.text-supporting {
  @include core-16;
  margin: -15px 0 30px;
  color: $secondary-text-colour;
}

.spark-bar {
  @include core-16;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: $gutter-half;
  height: $gutter-half;
  color: $text-colour;

  span {
    box-sizing: border-box;
    display: inline-block;
    overflow: visible;
    background: $panel-colour;
    color: $black;
    padding: 3px 0 0;
    margin: 0px 0 5px 0;

    h4 {
      padding-left: 5px;
    }
  }

  @media (max-width: 640px) {
    margin-top: -15px;
    margin-bottom: 45px;
  }

}

// spacing for numbers in user effort section

.ue-number {
  margin-top: 45px;
}

.ue-heading {
  margin-top: 0;
}

// table with vertical bar chart

.table-chart {
  display: block;
  margin: 0 15px 45px;
  
  tr, td, th {
    border: none;
    padding-bottom: 10px;
    vertical-align: top;
    width: 50%;
  }

  th {
    padding-top: 0;
  }
  
}

.table-chart-number {
  @include core-19($tabular-numbers: true);
  display: inline-block;
  width: 18%;
  float: left;
  text-align:right;
  margin-right: 2%;
  font-weight: bold;

  @media (max-width: 640px) {
    width: 20%;
    margin-right: 5%;
    text-align: left;
  }

}

// table with vertical bar chart

.table-chart {
  display: block;
  margin: 0 15px 45px;
  
  tr, td, th {
    border: none;
    padding-bottom: 10px;
    vertical-align: top;
    width: 50%;
  }

  th {
    padding-top: 0;
  }
  
}

.table-chart-number {
  @include core-19($tabular-numbers: true);
  display: inline-block;
  width: 18%;
  float: left;
  text-align:right;
  margin-right: 2%;
  font-weight: bold;

  @media (max-width: 640px) {
    width: 20%;
    margin-right: 5%;
    text-align: left;
  }
}
  
.table-chart-bar {
  width: 80%;
  float: left;
  display: inline-block;

  span {
    height: 1em;
    background-color: $secondary-text-colour;
    float: left;
    display: inline-block;
  }

  @media (max-width: 640px) {
    width: 100%;
  }

}

