{% extends "layouts/govuk-registers.html" %}

{% set section = "index" %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">

    <div class="grid-row">
      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="https://www.gov.uk/service-toolkit#monitoring">Monitoring</a>
            </li>
            <li class="active">
                Cross-Government Service Data
            </li>
          </ol>
        </div>
      </div>
      
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Get data about government services</h1>

        <p class="lede">Cross-Government Service Data lets civil servants quickly access standardised high-level data so they can:</p>

        <ul class="list list-bullet">
          <li>get an overview of all the services delivered by government</li>
          <li>see how departments, agencies and services are related</li>
          <li>track changes in service usage and delivery</li>
        </ul>
      
        <a class="button button-start" href="/performance-data/government" role="button">View data</a>
        <span class="font-small">&nbsp;or <a href="/performance-data/searchpage">search for something specific</a></span>

      </div>

      <div class="column-one-third product-overview-intro-image">
        <img class="top-image" alt="Cross-Government Service Data demo" src="/images/product-image.png">
      </div>

    </div>
  </div>
</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds"> 

      <h2 class="heading-large" id="2">What data is available</h2>

      <p>Where appropriate data is also aggregated to the agency, department and UK government level.</p> 

      <h3 class="heading-small">Information about services</h3>
      <ul class="list list-bullet">
        <li>The purpose of services</li>
        <li>The typical users of services</li>
        <li>How services works</li>
        <li>How frequently services are used</li>
        <li>How long it takes for transactions to end in an outcome</li>
      </ul>

      <h3 class="heading-small">Demand for services</h3>
      <ul class="list list-bullet">
        <li>Transactions received by services</li>
      </ul> 

      <h3 class="heading-small">Channels people use to access services</h3>
      <ul class="list list-bullet">
        <li>Online</li>
        <li>Phone</li>
        <li>Paper</li>
        <li>Face-to-face</li>
      </ul>

      <h3 class="heading-small">Delivery of services</h3>
      <ul class="list list-bullet">
        <li>Transactions ending in an outcome</li>
        <li>Transactions ending in the user's intended outcome (where available)</li>
      </ul>
      
      <h3 class="heading-small">Reasons people call services</h3>
      <ul class="list list-bullet">
        <li>To get information</li>
        <li>To chase progress</li>
        <li>To challenge a decision</li>
      </ul> 
      
      <h3 class="heading-small">Guidance about how metrics are collected and calculated</h3>
      <ul class="list list-bullet">
        <li>Department and agency responsible for the data</li>
        <li>How the data was collected</li>
        <li>When the data was last updated</li>
      </ul>

      <hr class="m_0">

      <h2 class="heading-large" id="1">How it works</h2>

      <p>Cross-Government Service Data is designed for civil servants who work across or want to learn from multiple organisations within government.</p>

      <p>It provides standardised high-level metrics along with additional context to help them get a rounded view of each service, agency and department.</p> 

      <p>This data can be explored through the Cross-Government Service Data website or exported as a CSV.</p>
      
      <p>All metrics also come with guidance on how they were collected and calculated to allow easy evaluation of the data.</p>
      
      <hr class="m_0">

      <h2 class="heading-large" id="2">Contact the team</h2>

      <p>Cross-Government Service Data is collected by the Government Digital Service.</p>

      <p><a class="link" href="mailto:performance-platform@digital.cabinet-office.gov.uk">Contact the team</a> if you have a question or would like to provide feedback.</p>
          
    </div> <!-- End Two Thirds -->

  </div> <!-- End row -->


</main>

{% endblock %}