{% extends "layouts/govuk-registers.html" %}

{% block page_title %}
  Overview - Cross-Government Service Data
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge mb_0">Overview</h1>     
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="font-small">Year from 1 January 2016 to 31 December 2016</p>
    </div>
    <div class="column-one-third"> 
      <p class="download-csv"><a href="javascript:void()">Download all data (CSV 10KB)</a></p>
    </div>
  </div>    

  <div class="grid-row filter-panel-horizontal">

    <form class="column-full filter-row mt_-5">
      <fieldset>
        <label>Show</label>
        <div class="form-group inline-forms width-data-type" id="filter-select-box">
          <select class="form-control" id="select-org-type">
            <option value="departments">Departments</option>
            <option value="agencies">Agencies</option>
            <option value="services">Services</option>
          </select>
        </div>
        <span class="connecting-word">in</span>
        <span class="filter-org-default">
          UK Government
        </span>
        <span class="filter-org-type">
          <div class="form-group inline-forms width-data-org">
            <select class="form-control">
              <option value="UK Government">UK Government</option>
              <optgroup label="Departments">
                <option value="Department for Business, Energy & Industrial Strategy">Department for Business, Energy &amp; Industrial Strategy</option>
                <option value="Department for Education">Department for Education</option>
                <option value="Department for Environment Food & Rural Affairs">Department for Environment Food &amp; Rural Affairs</option>
                <option value="Department of Health">Department of Health</option>
                <option value="Department for Transport">Department for Transport</option>
                <option value="Department for Work and Pensions">Department for Work and Pensions</option>
                <option value="HM Revenue & Customs">HM Revenue &amp; Customs</option>
                <option value="Home Office">Home Office</option>
                <option value="Ministry of Justice">Ministry of Justice</option>
              </optgroup>  
            </select>
          </div>
        </span>
        <span class="filter-org-type-2">
          <div class="form-group inline-forms width-data-org">
            <select class="form-control">
              <option value="UK Government">UK Government</option>
              <optgroup label="Departments">
                <option value="Department for Business, Energy & Industrial Strategy">Department for Business, Energy &amp; Industrial Strategy</option>
                <option value="Department for Education">Department for Education</option>
                <option value="Department for Environment Food & Rural Affairs">Department for Environment Food &amp; Rural Affairs</option>
                <option value="Department of Health">Department of Health</option>
                <option value="Department for Transport">Department for Transport</option>
                <option value="Department for Work and Pensions">Department for Work and Pensions</option>
                <option value="HM Revenue & Customs">HM Revenue &amp; Customs</option>
                <option value="Home Office">Home Office</option>
                <option value="Ministry of Justice">Ministry of Justice</option>
              </optgroup>
              <optgroup label="Agencies & public bodies">
                <option value="Companies House">Companies House</option>
                <option value="Driver and Vehicle Licensing Agency">Driver and Vehicle Licensing Agency</option>
                <option value="Driver and Vehicle Standards Agency">Driver and Vehicle Standards Agency</option>
                <option value="Environment Agency">Environment Agency</option>
                <option value="HM Courts and Tribunals Service">HM Courts and Tribunals Service</option>
                <option value="Independent Police Complaints Commission">Independent Police Complaints Commission</option>
                <option value="Intellectual Property Office">Intellectual Property Office</option>
                <option value="Land Registry">Land Registry</option>
                <option value="National Offender Management Service">National Offender Management Service</option>
                <option value="NHS Blood and Transplant">NHS Blood and Transplant</option>
                <option value="NHS England">NHS England</option>
                <option value="Ordnance Survey">Ordnance Survey</option>
                <option value="Skills Funding Agency">Skills Funding Agency</option>
                <option value="Student Loans Company">Student Loans Company</option>
              </optgroup>  
            </select>
          </div>
        </span>
      </fieldset> 
    </form>

    <form class="column-full filter-row">
      <fieldset>
        <label>Sort by</label>
        <select class="form-control form-control-1-2">
          <option>Transactions received</option>
          <option>– Online</option>
          <option>– Phone</option>
          <option>– Paper</option>
          <option>– Face-to-face</option>
          <option>– Other</option>
          <option>Transactions ending in an outcome</option>
          <option>– The user's intended outcome</option>
          <option>Calls received</option>
          <option>– To get information</option>
          <option>– To chase progress</option>
          <option>– To challenge a decision</option>
          <option>– Other calls</option>
          <option>Number of services</option>
          <option>Number of agencies</option>
        </select>
        <span class="reverse-sort font-xsmall"><a href="javascript:void()">⇅ Reverse order</a></span>
      </fieldset>
    </form>    
     
  </div>

  <!--end of filter-->  

  <div class="grid-row">
    <div class="column-one-third">
      <p>Showing <strong>12</strong> departments</p>
    </div>
  </div>    

  <div class="grid-row">
    <ul class="filter-cards column-full">
      
      {% for department in transaction_counts_by_dept %}
      <li class="column-full">
        <div class="column-one-quarter">
          <h2 class="bold-medium"><a href="{{ department.friendly_id }}">{{ department.name }}</a></h2>
          <ul class="list font-xsmall">
            <li><strong>{{ department.agencies_count}}</strong> agencies</li>
            <li><strong>{{ department.services_count}}</strong> services</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">{{ to_3_sf(department.transactions_received_count) }}</span>
            <span class="data-item bold-xsmall">transactions received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>{{ department.pct_received_online }}%</strong> online</li>
            <li><strong>{{ department.pct_received_phone }}%</strong> phone</li>
            <li><strong>{{ department.pct_received_paper }}%</strong> paper</li>
            <li><strong>{{ department.pct_received_face_to_face }}%</strong> face-to-face</li>
            <li><strong>{{ department.pct_received_other }}%</strong> other</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">{{ to_3_sf(department.transactions_with_outcome_count) }}</span>
            <span class="data-item bold-xsmall">transactions ending in an outcome</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>{{ department.pct_users_intended_outcome }}%</strong> end in user's intended outcome</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">7.2m</span>
            <span class="data-item bold-xsmall">calls received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>40%</strong> to get information</li>
            <li><strong>25%</strong> to chase progress</li>
            <li><strong>20%</strong> to challenge a decision</li>
            <li><strong>15%</strong> other</li>
            <li class="secondary-text-colour">Based on sample of 10,000 calls</li>
          </ul>
        </div>  
      </li>
      {% endfor %}

      <!-- <li class="column-full">
        <div class="column-one-quarter">
          <h2 class="bold-medium"><a href="#">Agency Card Example</a></h2>
          <ul class="list font-xsmall">
            <li>Department for Transport</li>
            <li><strong>14</strong> services</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">1.2m</span>
            <span class="data-item bold-xsmall">transactions received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>60%</strong> online</li>
            <li><strong>20%</strong> phone</li>
            <li><strong>10%</strong> paper</li>
            <li><strong>5%</strong> Face-to-face</li>
            <li><strong>5%</strong> other</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">1.1m</span>
            <span class="data-item bold-xsmall">transactions ending in an outcome</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>60%</strong> end in user's intended outcome</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">3m</span>
            <span class="data-item bold-xsmall">calls received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>40%</strong> to get information</li>
            <li><strong>25%</strong> to chase progress</li>
            <li><strong>20%</strong> to challenge a decision</li>
            <li><strong>15%</strong> other</li>
          </ul>
        </div>  
      </li> -->

      <!-- <li class="column-full">
        <div class="column-one-quarter">
          <h2 class="bold-medium"><a href="#">Service Card Example</a></h2>
          <ul class="list font-xsmall">
            <li>Driver and Vehicle Licensing Agency</li>
            <li>Department for Transport</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">1.2m</span>
            <span class="data-item bold-xsmall">transactions received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>100%</strong> online</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">1.2m</span>
            <span class="data-item bold-xsmall">transactions ending in an outcome</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>60%</strong> end in user's intended outcome</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">3m</span>
            <span class="data-item bold-xsmall">calls received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>40%</strong> to get information</li>
            <li><strong>25%</strong> to chase progress</li>
            <li><strong>20%</strong> to challenge a decision</li>
            <li><strong>15%</strong> other</li>
          </ul>
        </div>  
      </li> -->

    </ul>
  </div>

</main>

{% endblock %}

{% block body_end %}
{{ super() }}
  <script src="/javascripts/date-range-selector.js"></script>
{% endblock %}
