{% extends "layouts/govuk-registers.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge" style="margin-bottom: 0">Overview</h1>     
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="font-small">Year from 1 April 2015 to 31 March 2016</p>
    </div>
    <div class="column-one-third"> 
      <p style="text-align: right"><a href="#">Download all data (CSV 10KB)</a></p>
    </div>
  </div>    

  <div class="grid-row filter-panel-horizontal">

    <div class="column-full">
      <h2 class="bold-small" style="margin-bottom: 0">Showing</h2>
    </div>

    <form class="column-full filter-row">
      <fieldset>
        <legend class="visuallyhidden">Show</legend>
        <div class="form-group inline-forms width-data-type" id="filter-select-box">
          <select class="form-control" id="select-org-type">
            <option value="departments">Departments</option>
            <option value="agencies">Agencies</option>
            <option value="services">Services</option>
          </select>
        </div>
        <span class="connecting-word">in</span>
        <span class="filter-org-default">
          <div class="form-group inline-forms width-data-org">
            <select class="form-control">
              <option value="UK Government">UK Government</option>
            </select>
          </div>
        </span>
        <span class="filter-org-type">
          <div class="form-group inline-forms width-data-org">
            <select class="form-control">
              <option value="UK Government">UK Government</option>
              <option value="Ministerial Departments" disabled="disabled">Ministerial Departments</option>
              <option value="Ministry of Health">Department of Health</option>
              <option value="Department for Transport">Department for Transport</option>
              <option value="Home Office">Home Office</option>
              <option value="Ministry of Justice">Ministry of Justice</option>
              <!-- <option value="Ministerial Departments" disabled="disabled">Agencies</option>
              <option value="Driver and Vehicle Licensing Agency">Driver and Vehicle Licensing Agency</option>
              <option value="HM Courts and Tribunals Service">HM Courts and Tribunals Service</option>
              <option value="NHS Blood and Transplant">NHS Blood and Transplant</option> -->
            </select>
          </div>
        </span>
        <span class="filter-org-type-2">
          <div class="form-group inline-forms width-data-org">
            <select class="form-control">
              <option value="UK Government">UK Government</option>
              <option value="Ministerial Departments" disabled="disabled">Ministerial Departments</option>
              <option value="Ministry of Health">Department of Health</option>
              <option value="Department for Transport">Department for Transport</option>
              <option value="Home Office">Home Office</option>
              <option value="Ministry of Justice">Ministry of Justice</option>
              <option value="Ministerial Departments" disabled="disabled">Agencies</option>
              <option value="Driver and Vehicle Licensing Agency">Driver and Vehicle Licensing Agency</option>
              <option value="HM Courts and Tribunals Service">HM Courts and Tribunals Service</option>
              <option value="NHS Blood and Transplant">NHS Blood and Transplant</option>
            </select>
          </div>
        </span>
        <span class="filter-org-department">
          <div class="form-group inline-forms width-data-org">
            <select class="form-control">
              <option value="Department for Transport">Department for Transport</option>
              <option value="Home Office">Home Office</option>
              <option value="Ministry of Health">Ministry of Health</option>
            </select>
          </div>
        </span>
        <span class="filter-org-agency">
          <div class="form-group inline-forms width-data-org">
            <select class="form-control">
              <option value="Driver and Vehicle Licensing Agency">Driver and Vehicle Licensing Agency</option>
              <option value="HM Courts and Tribunals Service">HM Courts and Tribunals Service</option>
              <option value="NHS Blood and Transplant">NHS Blood and Transplant</option>
            </select>
          </div>
        </span>
      </fieldset> 
    </form>

    <div class="column-full">
      <h2 class="bold-small" style="margin: 0">Where</h2>
    </div>  

    <form class="column-full filter-row">
      <fieldset>
        <legend class="visuallyhidden">Where</legend>
        <div class="form-group inline-forms width-data-org">
          <select class="form-control" id="select-metric">
            <option value="transactions">Transactions received</option>
            <option value="online">– Online transactions received</option>
            <option value="phone">– Phone transactions received</option>
            <option value="paper">– Paper transactions received</option>
            <option value="facetoface">– Face-to-face transactions received</option>
            <option value="otherchannel">– Other transactions received</option>
            <option value="outcome">Transactions ending in an outcome</option>
            <option value="intendedoutcome">– Transactions ending in the user's intended outcome</option>
            <option value="calls">Calls received</option>
            <option value="getinfo">– Calls to get information</option>
            <option value="chaseprogress">– Calls to chase progress</option>
            <option value="challengedecision">– Calls to challenge a decision</option>
            <option value="othercall">– Other</option>
            <option value="services">Number of services</option>
            <option value="agencies">Number of agencies</option>
          </select>
        </div>
        <span>
          <div class="form-group inline-forms width-data-range">
            <select class="form-control" id="select-range">
              <option value="isgreaterthan">are greater than</option>
              <option value="islessthan">are less than</option>
              <!-- <option value="isintherange">is in the range</option> -->
            </select>
          </div>
        </span>
        <span class="lower-range">
          <div class="form-group inline-forms width-data-input">
            <input class="form-control" id="field-range-1" type="text" value='0'><!-- <span class="percent">%</span> -->
          </div>
        </span> 
        <span class="clear-filter-row font-xsmall">
          <a href="#">Remove</a>
        </span>
      </fieldset>  
    </form>

    <div class="column-full">
      <p class="font-xsmall"><a href="javascript:void()" id="add-filter-row">+ Add filter</a></p>
    </div>

    <form class="column-full">
      <fieldset>
        <legend class="visuallyhidden">Where</legend>
        <input class="button" type="submit" value="Apply filters">
        <a class="cancel-button" href="#" onclick='location.reload(true); return false;'>Reset filters</a>
      </fieldset>
    </form>    
     
  </div>

  <!--end of filter-->  

  <div class="grid-row">
    <div class="column-one-third">
      <p>Showing <strong>12</strong> departments</p>
    </div>
    <div class="column-two-thirds">
      <div class="form-group sort-by">
        <label class="form-label" for="select-box">Sort by</label>
        <select class="form-control form-control-1-2">
          <option>Transactions received</option>
          <option>– Online</option>
          <option>– Phone</option>
          <option>– Paper</option>
          <option>– Face-to-face</option>
          <option>– Other</option>
          <option>Transactions ending in an outcome</option>
          <option>– The user's intended outcome</option>
          <option>Calls received</option>
          <option>– To get information</option>
          <option>– To chase progress</option>
          <option>– To challenge a decision</option>
          <option>– Other calls</option>
          <option>Number of services</option>
          <option>Number of agencies</option>
        </select>
        <span class="font-xsmall"><a href="#">Reverse order</a></span>
      </div>
    </div>
  </div>    

  <div class="grid-row">
    <ul class="filter-cards column-full">
      
      {% for department in transaction_counts_by_dept %}
      <li class="column-full">
        <div class="column-one-quarter">
          <h2 class="bold-medium"><a href="{{ department.friendly_id }}">{{ department.name }}</a></h2>
          <ul class="list font-xsmall">
            <li><strong>{{ department.agencies_count}}</strong> agencies</li>
            <li><strong>{{ department.services_count}}</strong> services</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">{{ department.transactions_received_count }}m</span>
            <span class="data-item bold-xsmall">transactions received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>{{ department.pct_received_online }}%</strong> online</li>
            <li><strong>{{ department.pct_received_phone }}%</strong> phone</li>
            <li><strong>{{ department.pct_received_paper }}%</strong> paper</li>
            <li><strong>{{ department.pct_received_face_to_face }}%</strong> face-to-face</li>
            <li><strong>{{ department.pct_received_other }}%</strong> other</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">{{ department.transactions_with_outcome_count }}m</span>
            <span class="data-item bold-xsmall">transactions ending in an outcome</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>{{ department.pct_users_intended_outcome }}%</strong> end in user's intended outcome</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">3.76m</span>
            <span class="data-item bold-xsmall">calls received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>40%</strong> to get information</li>
            <li><strong>25%</strong> to chase progress</li>
            <li><strong>20%</strong> to challenge a decision</li>
            <li><strong>15%</strong> other</li>
            <li class="secondary-text-colour">Based on sample of 10,000 calls</li>
          </ul>
        </div>  
      </li>
      {% endfor %}

      <!-- <li class="column-full">
        <div class="column-one-quarter">
          <h2 class="bold-medium"><a href="#">Agency Card Example</a></h2>
          <ul class="list font-xsmall">
            <li>Department for Transport</li>
            <li><strong>14</strong> services</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">1.2m</span>
            <span class="data-item bold-xsmall">transactions received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>60%</strong> online</li>
            <li><strong>20%</strong> phone</li>
            <li><strong>10%</strong> paper</li>
            <li><strong>5%</strong> Face-to-face</li>
            <li><strong>5%</strong> other</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">1.1m</span>
            <span class="data-item bold-xsmall">transactions ending in an outcome</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>60%</strong> end in user's intended outcome</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">3m</span>
            <span class="data-item bold-xsmall">calls received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>40%</strong> to get information</li>
            <li><strong>25%</strong> to chase progress</li>
            <li><strong>20%</strong> to challenge a decision</li>
            <li><strong>15%</strong> other</li>
          </ul>
        </div>  
      </li> -->

      <!-- <li class="column-full">
        <div class="column-one-quarter">
          <h2 class="bold-medium"><a href="#">Service Card Example</a></h2>
          <ul class="list font-xsmall">
            <li>Driver and Vehicle Licensing Agency</li>
            <li>Department for Transport</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">1.2m</span>
            <span class="data-item bold-xsmall">transactions received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>100%</strong> online</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">1.2m</span>
            <span class="data-item bold-xsmall">transactions ending in an outcome</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>60%</strong> end in user's intended outcome</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">3m</span>
            <span class="data-item bold-xsmall">calls received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>40%</strong> to get information</li>
            <li><strong>25%</strong> to chase progress</li>
            <li><strong>20%</strong> to challenge a decision</li>
            <li><strong>15%</strong> other</li>
          </ul>
        </div>  
      </li> -->

    </ul>
  </div>

</main>

{% endblock %}

{% block body_end %}
{{ super() }}
  <script src="/javascripts/date-range-selector.js"></script>
{% endblock %}
