{% extends "layouts/layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block page_banner %}
    {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="bold-xlarge" style="margin:15px 0 0;">Overview</h1>
      
    </div>
    <div class="column-third">
      
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="font-small">Year from 1 April 2015 to 31 March 2016</p>
    </div>
    <div class="column-one-third"> 
      <p style="text-align: right"><a href="#">Download all data (CSV 10KB)</a></p>
    </div>
  </div>    

  <div class="grid-row filter-panel-horizontal">

    <div class="column-full">
      <h2 class="bold-small" style="margin-bottom: 0">Show</h2>
    </div>

    <div class="column-full filter-row">
      <form>
        <fieldset>
          <legend class="visuallyhidden">Show</legend>
          <div class="form-group inline-forms width-data-type" id="filter-select-box">
            <select class="form-control" id="select-org-type">
              <option value="departments">Departments</option>
              <option value="agencies">Agencies</option>
              <option value="services">Services</option>
            </select>
          </div>
          <span class="connecting-word">in</span>
          <span class="filter-org-default">
            <!-- <div class="form-group inline-forms width-data-range">
              <select class="form-control">
                <option value="in">in</option>
              </select>
            </div> -->
            <div class="form-group inline-forms width-data-org">
              <select class="form-control">
                <option value="UK Government">UK Government</option>
              </select>
            </div>
          </span>
          <span class="filter-org-type">
            <div class="form-group inline-forms width-data-range">
              <select class="form-control" id="select-org-name">
                <option value="any">any</option>
                <option value="indepartment">in department</option>
                <option value="inagency">in agency</option>
              </select>
            </div>
          </span>
          <span class="filter-org-department">
            <div class="form-group inline-forms width-data-org">
              <select class="form-control">
                <option value="Department for Transport">Department for Transport</option>
                <option value="Home Office">Home Office</option>
                <option value="Ministry of Health">Ministry of Health</option>
              </select>
            </div>
          </span>
          <span class="filter-org-agency">
            <div class="form-group inline-forms width-data-org">
              <select class="form-control">
                <option value="Driver and Vehicle Licensing Agency">Driver and Vehicle Licensing Agency</option>
                <option value="HM Courts and Tribunals Service">HM Courts and Tribunals Service</option>
                <option value="NHS Blood and Transplant">NHS Blood and Transplant</option>
              </select>
            </div>
          </span>
        </fieldset> 
      </form>
    </div>

    <div class="column-full">
      <h2 class="bold-small" style="margin: 0">where</h2>
    </div>  

    <!-- filter row-->
    <div class="column-full filter-row">
      <form>
        <fieldset>
          <legend class="visuallyhidden">Where</legend>
          <div class="form-group inline-forms width-data-type">
            <select class="form-control">
              <option>Transactions received</option>
              <option>– Online transactions received</option>
              <option>– Phone transactions received</option>
              <option>– Paper transactions received</option>
              <option>– Face to face transactions received</option>
              <option>– Other transactions received</option>
              <option>Transactions ending in an outcome</option>
              <option>– Transactions ending in the user's intended outcome</option>
              <option>Calls received</option>
              <option>– Calls to get information</option>
              <option>– Calls to chase progress</option>
              <option>– Calls to challenge a decision</option>
              <option>– Other calls</option>
              <option>Number of services</option>
              <option>Number of agencies</option>
            </select>
          </div>
          <span>
            <div class="form-group inline-forms width-data-range">
              <select class="form-control" id="select-range">
                <option value="isgreaterthan">is greater than</option>
                <option value="islessthan">is less than</option>
                <option value="isintherange">is in the range</option>
              </select>
            </div>
          </span>
          <span class="lower-range">
            <div class="form-group inline-forms width-data-input">
              <input class="form-control" id="field-range-1" name="field-range-1" type="text" value='0'>
            </div>
          </span>
          <span class="upper-range">
            <span class="connecting-word">to</span>
            <div class="form-group inline-forms width-data-input">
              <input class="form-control" id="field-range-2" name="field-range-2" type="text">
            </div>
          </span> 
          <span class="clear-filter-row font-xsmall">
            <a href="#">Remove</a>
          </span>
        </fieldset>  
      </form>
    </div>

    <div class="column-full">
      <p class="font-xsmall"><a href="javascript:void()" id="add-filter-row">+ Add filter</a></p>
    </div>

    <div class="column-full">
      <form>
        <fieldset>
          <legend class="visuallyhidden">Where</legend>
          <input class="button" type="submit" value="Apply filters" disabled="disabled">
          <a class="cancel-button" href="javascript:void()">or reset</a>
        </fieldset>
      </form>    
    </div>      
  </div>  

  <!--end of filter-->  

  <div class="grid-row">
    <div class="column-one-third">
      <p>Showing <strong>12</strong> departments<!-- , filtered by <strong>over 1k transactions</strong>, <strong>less than 1m calls</strong> --></p>
    </div>
    <div class="column-two-thirds">
      <div class="form-group sort-by">
        <label class="form-label" for="select-box">Sort by</label>
        <select class="form-control form-control-2-3" id="select-box">
          <option>Transactions received</option>
          <option>– Online transactions received</option>
          <option>– Phone transactions received</option>
          <option>– Paper transactions received</option>
          <option>– Face to face transactions received</option>
          <option>– Other transactions received</option>
          <option>Transactions ending in an outcome</option>
          <option>– Transactions ending in the user's intended outcome</option>
          <option>Calls received</option>
          <option>– To get information</option>
          <option>– To chase progress</option>
          <option>– To challenge a decision</option>
          <option>– Other</option>
          <option>Number of services</option>
          <option>Number of agencies</option>
        </select>
        <span class="font-xsmall"><a href="#">Reverse order</a></span>
      </div>
    </div>
  </div>    

  <div class="grid-row">
    <ul class="filter-cards column-full">
      
      <li class="column-full">
        <div class="column-one-quarter">
          <h2 class="bold-medium"><a href="#">Department Card Example</a></h2>
          <ul class="list font-xsmall">
            <li><strong>6</strong> agencies</li>
            <li><strong>28</strong> services</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">1.25m</span>
            <span class="data-item bold-xsmall">transactions received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>60%</strong> online</li>
            <li><strong>20%</strong> phone</li>
            <li><strong>10%</strong> paper</li>
            <li><strong>10%</strong> other</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">1.1m</span>
            <span class="data-item bold-xsmall">transactions ending in an outcome</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>60%</strong> end in user's intended outcome</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">3.76m</span>
            <span class="data-item bold-xsmall">calls received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>40%</strong> to get information</li>
            <li><strong>25%</strong> to chase progress</li>
            <li><strong>20%</strong> to challenge a decision</li>
            <li><strong>15%</strong> other</li>
          </ul>
        </div>  
      </li>

      <li class="column-full">
        <div class="column-one-quarter">
          <h2 class="bold-medium"><a href="#">Agency Card Example</a></h2>
          <ul class="list font-xsmall">
            <li>Department for Transport</li>
            <li><strong>14</strong> services</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">1.2m</span>
            <span class="data-item bold-xsmall">transactions received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>60%</strong> online</li>
            <li><strong>20%</strong> phone</li>
            <li><strong>10%</strong> paper</li>
            <li><strong>5%</strong> face to face</li>
            <li><strong>5%</strong> other</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">1.1m</span>
            <span class="data-item bold-xsmall">transactions ending in an outcome</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>60%</strong> end in user's intended outcome</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">3m</span>
            <span class="data-item bold-xsmall">calls received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>40%</strong> to get information</li>
            <li><strong>25%</strong> to chase progress</li>
            <li><strong>20%</strong> to challenge a decision</li>
            <li><strong>15%</strong> other</li>
          </ul>
        </div>  
      </li>

      <li class="column-full">
        <div class="column-one-quarter">
          <h2 class="bold-medium"><a href="#">Service Card Example</a></h2>
          <ul class="list font-xsmall">
            <li>Driver and Vehicle Licensing Agency</li>
            <li>Department for Transport</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">1.2m</span>
            <span class="data-item bold-xsmall">transactions received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>100%</strong> online</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">1.2m</span>
            <span class="data-item bold-xsmall">transactions ending in an outcome</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>60%</strong> end in user's intended outcome</li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-large">3m</span>
            <span class="data-item bold-xsmall">calls received</span>
          </div>
          <ul class="list font-xsmall">
            <li><strong>40%</strong> to get information</li>
            <li><strong>25%</strong> to chase progress</li>
            <li><strong>20%</strong> to challenge a decision</li>
            <li><strong>15%</strong> other</li>
          </ul>
        </div>  
      </li>

    </ul>
  </div>

</main>

{% endblock %}

{% block body_end %}
{{ super() }}
  <script src="/javascripts/date-range-selector.js"></script>
{% endblock %}
