{% extends "layouts/govuk-registers.html" %}

{% block page_title %}
  {{ task.name }} - Cross-Government Service Data
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/performance-data/government/">Overview</a></li>
      <li><a href="{{department.friendly_id }}">{{ department.name }}</a></li> 
      {% if agency %}
      <li><a href="{{ agency.friendly_id }}">{{ agency.name }}</a></li>
      {% endif %}     
      <li>{{ task.name }}</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      	<span class="heading-secondary">Information about</span>
        {{ task.name }}
      </h1>
      <dl class="metadata">
        <!-- <dt>Part of:</dt>
        <dd>
        {% if agency %}
        <a href="{{ agency.friendly_id }}">{{ agency.name }}</a>,
        {% endif %}
        <a href="{{department.friendly_id }}">{{ department.name }}</a>, <a href="/performance-data/government">UK Government</a>
        </dd> -->
        <dt>Data provider:</dt>
        <dd>
          {% if agency %}
            {{ agency.name }}
          {% else %}
            {{ department.name }}
          {% endif %}
        </dd>
        <dt>Collection method:</dt>
        <dd>Manual upload via spreadsheet</dd>
        <dt>Last updated:</dt>
        <dd>31 December 2016</dd>
      </dl>
    </div>
  </div>

  <hr>  

  <div class="grid-row">
    
    <div class="column-two-thirds">
      <h2 class="bold-large mb_20">About the service</h2>

      <h3 class="bold-medium">What is the purpose of the service?</h3>
      <p>Why the service was built, its policy objectives and the user need it meets.</p>

      <h3 class="bold-medium">How does the service work?</h3>
      <p>The processes and back-office operations that allow the service to operate.</p>

      <h3 class="bold-medium">Who are the typical users of the service?</h3>
      <p>Each of the service’s key user groups with their respective demographic, geographic distribution and other relevant details. </p>

      <h3 class="bold-medium">How frequently is the service used?</h3>
      <p>On average, how often each of the key user groups uses the service.</p>

      <h3 class="bold-medium">How long does it take a transaction to end in outcome?</h3>
      <p>The average amount of time for each of the key user groups that it takes for a received transaction to end in an outcome.</p>

    </div>

    <div class="column-one-third">
      <h3 class="bold-medium">Visit the service</h2>
      <p>See how it appears to users:
        <ul class="list">
          <li><a href="#">Start page</a></li>
          <li><a href="#">Paper form</a></li>
        </ul>
      </p>
    </div>

  </div>

 

</main>

{% endblock %}

{% block body_end %}
{{ super() }}
  <script src="/javascripts/date-range-selector.js"></script>
{% endblock %}
