{% extends "layouts/layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Guidance</span>
        Transactions and channels
      </h1>

      <p class="lede">User effort is a way to measure the different reasons services might be creating extra effort for their users. This page contains further detail on what the different categories include.</p>

      <h2 class="heading-large">Reasons users get in touch with services</h2>

      <h4 class="heading-medium">I need more information</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>couldn't find what they needed online</li>
        <li>couldn't understand our website</li>
        <li>needs to know more about something</li>
      </ul>

      <h4 class="heading-medium">I want to check the status of something</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>wants to know what's happened to information they've previously supplied</li>
        <li>wants to know if something is still valid</li>
        <li>wants to know why they haven't heard back about something</li>
      </ul>

      <h4 class="heading-medium">I want to challenge a decision</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>wants to appeal a decision</li>
        <li>has been sent incorrect information</li>
      </ul>

      <h4 class="heading-medium">I need additional support</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>is unable to use the service due to a disability</li>
        <li>isn't confident using a computer</li>
        <li>doesn't have access to a computer</li>
      </ul>

      <h4 class="heading-medium">I had to get in contact</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>was asked to get in contact as part of the service</li>
        <li>contacting the service is the only way to do what they want to do</li>
      </ul>

      <h2 class="heading-large">Reasons users have to repeat or amend something</h2>

      <h4 class="heading-medium">User's information is illegible</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>user's handwriting is illegible</li>
        <li>user has made typo errors</li>
      </ul>

      <h4 class="heading-medium">User's information is incomplete</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>user has omitted key information</li>
        <li>user has submitted with wrong or missing supporting information</li>
        <li>there is no wet signature</li>
        <li>government handling errors have resulted in missing information</li>
      </ul>

      <h4 class="heading-medium">User completed the wrong thing</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>user has applied for the wrong thing</li>
        <li>the wrong form (for example, an outdated or wrong version) has been used</li>
        <li>the user has attempted to complete several applications on one form</li>
      </ul>

      <h4 class="heading-medium">User's information doesn't match government's</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>the data submitted by the user does not match government records</li>
        <li>user provided false information</li>
      </ul>


    </div> 

  </div>



    

  </div> 
  

</main>

{% endblock %}


