{% extends "layouts/layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Guidance</span>
        Reasons users call services
      </h1>

      <p class="lede">Many users need additional help to achieve their goal and providing this is an integral part of the service.</p>

      <p>Collecting this data helps government discover unmet user needs and opportunities to reduce waste.</p>

      <p>When users call a service their calls (or a sample of them) are sorted into the following categories:</p>

      <h4 class="heading-medium">User needs more information to use the service</h4>
      <p>This includes:</p>
      <ul class="list list-bullet">
        <li>couldn't find what they needed online</li>
        <li>couldn't understand our website</li>
        <li>needs to know more about something</li>
      </ul>

      <h4 class="heading-medium">User wants an update on the progress of their transaction</h4>
      <p>This includes:</p>
      <ul class="list list-bullet">
        <li>wants to know what's happened to information they've previously supplied</li>
        <li>wants to know if something is still valid</li>
        <li>wants to know why they haven't heard back about something</li>
      </ul>

      <h4 class="heading-medium">User wants to challenge the outcome of their transaction</h4>
      <p>This includes:</p>
      <ul class="list list-bullet">
        <li>wants to appeal a decision</li>
        <li>has been sent incorrect information</li>
      </ul>

      <h4 class="heading-medium">User has accessibility or language needs</h4>
      <p>This includes:</p>
      <ul class="list list-bullet">
        <li>is unable to use the service due to a disability</li>
        <li>isn't confident using a computer</li>
        <li>doesn't have access to a computer</li>
      </ul>

      <h4 class="heading-medium">User was asked to call by the service</h4>
      <p>This includes:</p>
      <ul class="list list-bullet">
        <li>was asked to get in contact as part of the service</li>
        <li>contacting the service is the only way to do what they want to do</li>
      </ul>

    </div> 

  </div>



    

  </div> 
  

</main>

{% endblock %}


