{% extends "layouts/layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Guidance</span>
        Reasons casework can't be processed at first attempt
      </h1>

      <p class="lede">Many users need additional help to achieve their goal and providing this is an integral part of the service.</p>

      <p>Collecting this data helps government discover unmet user needs and opportunities to reduce waste.</p>

      <p>When a service has to contact users to progress their transactions the contacts (or a sample of them) are sorted into these categories:</p>

      <h4 class="heading-medium">User's information was illegible</h4>
      <p>This includes:</p>
      <ul class="list list-bullet">
        <li>poor handwriting</li>
        <li>user has made typo errors</li>
      </ul>

      <h4 class="heading-medium">User's information was incomplete</h4>
      <p>This includes:</p>
      <ul class="list list-bullet">
        <li>there is no wet signature</li>
        <li>the user has omitted key information</li>
        <li>submitted with wrong or missing supporting information</li>
        <li>government handling errors have resulted in missing information</li>
      </ul>

      <h4 class="heading-medium">User filled out the wrong form or used the wrong process</h4>
      <p>This includes:</p>
      <ul class="list list-bullet">
        <li>user has applied for the wrong thing</li>
        <li>the wrong form (outdated / wrong version) has been used</li>
        <li>the user has attempted to complete several applications on one form</li>
      </ul>

      <h4 class="heading-medium">User's information didn't match government records</h4>
      <p>This includes:</p>
      <ul class="list list-bullet">
        <li>data submitted by the user does not match government records</li>
        <li>false information provided</li>
      </ul>

    </div> 

  </div>



    

  </div> 
  

</main>

{% endblock %}


