{% extends "layouts/layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Search</h1>
      <p>Find data for a specific government department, agency or service.</p>
      <form action="/search" autocomplete="off" method="get">
        <fieldset>
          <div class="form-group search">
            <div class="wrapper">
              <select id="search" type="search" class="typeahead js-hidden form-control-1" name="search" aria-required="true" placeholder="Search by department, agency or service">
                <option value=""></option>
                {% for option in search_options %}
                  <option value="{{ option.friendly_id }}">{{ option.name }}</option>
                {% endfor %}
              </select>
            </div>
            <input class="submit" type="submit" value="search">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</main>

{% endblock %}

{% block body_end %}
{{ super() }}
  <script src="/javascripts/patterns/autocomplete/03/typeahead-aria.js"></script>
  <script src="/javascripts/patterns/autocomplete/03/init-autocomplete.js"></script>
{% endblock %}

