{% extends "layouts/govuk-registers.html" %}

{% block page_title %}
  {{ organisation.name }} - Cross-Government Service Data
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      	<span class="heading-secondary">Aggregated service data for</span>
        {{ organisation.name }}
      </h1>
      <dl class="metadata">
        <dt>Part of:</dt>
        <dd><a href="/performance-data/government">UK Government</a></dd>
        <dt>Includes:</dt>
        <dd><a href="#orgs">
          {% if organisation_type == 'department' %}
            {{ organisation.agencies.length }} agencies,
          {% endif %}
          {{ organisation.tasks.length}} services</a></dd>
        <dt>Time period:</dt>
        <dd>1 January to 31 December 2016</dd>  
      </dl>
    </div>
  </div>

  <hr>

  <!-- transactions received data -->

  <div class="grid-row data-block">

    <div class="column-one-third">
      <h2 class="data">
        <span class="data-item bold-xxlarge">{{ to_3_sf(volume_summary.total_received) }}</span>
        <span class="data-item bold-medium">transactions received</span>
      </h2>
      <br>
      <details class="font-xsmall">
        <summary><span class="summary">How this number is calculated</span></summary>
        <div class="panel panel-border-narrow">
          <p>
            A transaction is the specific instance of a user’s interaction with a service by which they update their status with government. It starts when it is received by the service and ends when it has an outcome.
          </p>
          <p>
            A channel is the way the service receives the transaction. It is the initial method of contact even if additional information is collected in other ways afterwards.
          </p>  
        </div>
      </details>    
    </div>

    <div class="column-two-thirds">

      <div class="topic-content">

        <div data-module="accordion-with-descriptions">
          <h3 class="bold-medium">Channels used to access the service</h3>
          <div class="subsection-wrapper">
            <div class="subsection">
              <div class="subsection__header">
                <h2 class="subsection__title">
                  <span class="black">Online</span> {{ to_3_sf(volume_summary.received_online) }}
                  <span class="lede">({{ volume_summary.received_online_pct_total }}%)</span>
                </h2>
              </div>
              <div class="subsection__content">
                <p class="font-xsmall">
                  The transaction must be received online. Doesn’t include services where you use an online tool to fill out a paper form or transactions received via web chat.
                </p> 
                <table>
                  <tbody>
                    <tr>
                      <th>Organisation</th>
                      <th class="numeric">Online transactions</th>
                      <th class="numeric">Total transactions</th>
                      <th class="numeric">Percentage online</th>
                    </tr>
                    {% for row in online_totals %}
                      <tr>
                        <td><a href="{{ row.friendly_id }}">{{ row.name }}</a></td>
                        <td class="numeric">{{ to_3_sf(row.transactions_received_channel_count) }}</td>
                        <td class="numeric">{{ to_3_sf(row.transactions_received_count) }}</td>
                        <td class="numeric">{{ pct_of(row.transactions_received_channel_count, row.transactions_received_count) }}%</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="subsection">
              <div class="subsection__header">
                <h2 class="subsection__title">
                  <span class="black">Phone</span> {{ to_3_sf(volume_summary.received_phone) }}
                  <span class="lede">({{ volume_summary.received_phone_pct_total }}%)</span>
                </h2>
              </div>
              <div class="subsection__content">
                <p class="font-xsmall">
                  The transaction must be received via the phone. Doesn’t include IVR or purely informational calls that don’t affect the outcome of a transaction.
                </p> 
                <table>
                  <tbody>
                    <tr>
                      <th>Organisation</th>
                      <th class="numeric">Phone transactions</th>
                      <th class="numeric">Total transactions</th>
                      <th class="numeric">Percentage phone</th>
                    </tr>
                    {% for row in phone_totals %}
                      <tr>
                        <td><a href="{{ row.friendly_id }}">{{ row.name }}</a></td>
                        <td class="numeric">{{ to_3_sf(row.transactions_received_channel_count) }}</td>
                        <td class="numeric">{{ to_3_sf(row.transactions_received_count) }}</td>
                        <td class="numeric">{{ pct_of(row.transactions_received_channel_count, row.transactions_received_count) }}%</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="subsection">
              <div class="subsection__header">
                <h2 class="subsection__title">
                  <span class="black">Paper</span> {{ to_3_sf(volume_summary.received_paper) }}
                  <span class="lede">({{ volume_summary.received_paper_pct_total }}%)</span></style></h2>
              </div>
              <div class="subsection__content" id="">
                <p class="font-xsmall">
                  The transaction must be received via a paper form filled out by hand. The form can be sent in any way including by post, email, fax or uploading.
                </p>
                <table>
                  <tbody>
                    <tr>
                      <th>Organisation</th>
                      <th class="numeric">Paper transactions</th>
                      <th class="numeric">Total transactions</th>
                      <th class="numeric">Percentage paper</th>
                    </tr>
                    {% for row in paper_totals %}
                      <tr>
                        <td><a href="{{ row.friendly_id }}">{{ row.name }}</a></td>
                        <td class="numeric">{{ to_3_sf(row.transactions_received_channel_count) }}</td>
                        <td class="numeric">{{ to_3_sf(row.transactions_received_count) }}</td>
                        <td class="numeric">{{ pct_of(row.transactions_received_channel_count, row.transactions_received_count) }}%</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="subsection">
              <div class="subsection__header">
                <h2 class="subsection__title">
                  <span class="black">Face-to-face</span> {{ to_3_sf(volume_summary.received_face_to_face) }}
                  <span class="lede">({{ volume_summary.received_face_to_face_pct_total }}%)</span></h2>
              </div>
              <div class="subsection__content" id="">
                <p class="font-xsmall">
                  The transaction must be received through a face-to-face meeting with someone working for the service. Doesn’t include handing in a paper form in person.
                </p>
                <table>
                  <tbody>
                    <tr>
                      <th>Organisation</th>
                      <th class="numeric">Face-to-face transactions</th>
                      <th class="numeric">Total transactions</th>
                      <th class="numeric">Percentage face-to-face</th>
                    </tr>
                    {% for row in face_to_face_totals %}
                      <tr>
                        <td><a href="{{ row.friendly_id }}">{{ row.name }}</a></td>
                        <td class="numeric">{{ to_3_sf(row.transactions_received_channel_count) }}</td>
                        <td class="numeric">{{ to_3_sf(row.transactions_received_count) }}</td>
                        <td class="numeric">{{ pct_of(row.transactions_received_channel_count, row.transactions_received_count) }}%</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="subsection">
              <div class="subsection__header">
                <h2 class="subsection__title">
                  <span class="black">Other</span> {{ to_3_sf(volume_summary.received_other) }}
                  <span class="lede">({{ volume_summary.received_other_pct_total }}%)</span></h2>
              </div>
              <div class="subsection__content" id="">
                <p class="font-xsmall">
                  Any other way the user provides the information needed to complete a transaction that doesn’t fit into the Online, Phone, Paper and Face-to-face channels.
                </p>
                <table>
                  <tbody>
                    <tr>
                      <th>Organisation</th>
                      <th class="numeric">Other transactions</th>
                      <th class="numeric">Total transactions</th>
                      <th class="numeric">Percentage other</th>
                    </tr>
                    {% for row in other_totals %}
                      <tr>
                        <td><a href="{{ row.friendly_id }}">{{ row.name }}</a></td>
                        <td class="numeric">{{ to_3_sf(row.transactions_received_channel_count) }}</td>
                        <td class="numeric">{{ to_3_sf(row.transactions_received_count) }}</td>
                        <td class="numeric">{{ pct_of(row.transactions_received_channel_count, row.transactions_received_count) }}%</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div> 

    </div>
    
  </div><!--transactions received block-->

  <!-- transactions ending in an outcome data -->

  <div class="grid-row data-block">

    <div class="column-one-third">
      <h2 class="data">
        <span class="data-item bold-xxlarge">{{ to_3_sf(transactions_with_outcome_count) }}</span>
        <span class="data-item bold-medium">transactions ending in an outcome</span>
      </h2> 
      <br>
      <details class="font-xsmall">
        <summary><span class="summary">How this number is calculated</span></summary>
        <div class="panel panel-border-narrow">
          <p>
            The delivery of the service is measured by the number of outcomes it produces.
          </p>  
          <p>
            Depending on the service, some transactions may take time to reach an outcome and therefore won’t be directly related to those received in the same period.
          </p>
          <p>  
            For example, if a service is seasonal and a transaction takes several months to reach an outcome it could show a many transactions received with no outcomes in the first month and more outcomes than received in later months.
          </p> 
        </div>
      </details>    
    </div>

    <div class="column-two-thirds">

      <div class="topic-content">

        <div data-module="accordion-with-descriptions">
            <h3 class="bold-medium">Delivery of the service</h3>
            <div class="subsection-wrapper">
              <div class="subsection">
                <div class="subsection__header">
                  <h4 class="subsection__title">
                    <span class="black">Ending in an outcome</span> {{ to_3_sf(transactions_with_outcome_count) }} 
                  </h4>
                </div>
                <div class="subsection__content">
                  <p class="font-xsmall">
                    The number of transactions where no further decisions will be made for that transaction. For example:
                  </p>  
                  <ul class="list list-bullet font-xsmall">
                    <li>payment of a benefit isn’t an outcome &mdash; the decision about whether to award it or not is</li>
                    <li>renewing a licence is a new transaction as it needs a new decision</li>
                  </ul>
                  <table>
                    <tbody>
                      <tr>
                        <th>Organisation</th>
                        <th class="numeric">Calls to get information</th>
                        <th class="numeric">Call sample size</th>
                        <th class="numeric">Percentage of calls to get information</th>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="subsection">
                <div class="subsection__header">
                  <h4 class="subsection__title">
                    <span class="black">Ending in user's intended outcome</span> {{ to_3_sf(transactions_with_users_intended_outcome_count) }}
                    <span class="lede">({{ pct_users_intended_outcome }}%)</span>
                  </h4>
                </div>
                <div class="subsection__content" id="">
                  <p class="font-xsmall">
                    A subset of the transactions ending in an outcome where the outcome is what the user set out to achieve. For example:
                  </p>  
                  <ul class="list list-bullet font-xsmall">
                    <li>the user applying for a visa and being granted that visa</li>
                    <li>the user sending money to a prisoner and the prisoner receiving the money</li>
                    <li>the user reporting a crime and having the report accepted and processed</li>
                  </ul>
                  <table>
                    <tbody>
                      <tr>
                        <th>Organisation</th>
                        <th class="numeric">Calls to get information</th>
                        <th class="numeric">Call sample size</th>
                        <th class="numeric">Percentage of calls to get information</th>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    
  </div><!--transactions ending in an oucome block-->

  <!-- calls data -->
  <div class="grid-row data-block">

    <div class="column-one-third">
      <h2 class="data">
        <span class="data-item bold-xxlarge">7.2m</span>
        <span class="data-item bold-medium">calls received</span>
      </h2> 
      <br>
      <details class="font-xsmall">
        <summary><span class="summary">How this number is calculated</span></summary>
        <div class="panel panel-border-narrow">
          <p>
            These are the total number of calls received by the service including calls that aren’t counted as a received transaction.
          </p> 
          <p>
            The 'reasons people called' are the initial reasons that triggered the user to contact the service via the phone, even if they then go on to discuss other subjects. Transactions received via the phone are not included in this list.
          </p>  
        </div>
      </details>     
    </div>

    <div class="column-two-thirds">

      <div class="topic-content">

        <div data-module="accordion-with-descriptions">
            <h3 class="bold-medium">Reasons people called</h3>
            <p style="margin: -5px 0 10px">Based on a sample of 10,000 calls</p>
            <div class="subsection-wrapper">
              <div class="subsection">
                <div class="subsection__header">
                  <h4 class="subsection__title">
                    <span class="black">To get information</span> 4k 
                    <span class="lede">(40%)</span>
                  </h4>
                </div>
                <div class="subsection__content">
                  <p class="font-xsmall">
                    Calls to get advice or guidance about the service. For example:
                  </p>  
                  <ul class="list list-bullet font-xsmall">
                    <li>to get information they couldn’t find online</li>
                    <li>to learn about what the service is for</li>
                    <li>to check that they’re eligible for the service</li>
                    <li>to see how the service’s rules or process applies to them</li>
                    <li>to check that a licence, visa etc is still valid</li>
                    <li>to ask what to do if they’ve lost their licence, visa etc</li>
                    <li>to find out why the service has sent them unexpected information</li>
                  </ul>
                  <table>
                    <tbody>
                      <tr>
                        <th>Organisation</th>
                        <th class="numeric">Calls to get information</th>
                        <th class="numeric">Call sample size</th>
                        <th class="numeric">Percentage of calls to get information</th>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="subsection">
                <div class="subsection__header">
                  <h4 class="subsection__title">
                    <span class="black">To chase progress</span> 3k 
                    <span class="lede">(30%)</span>
                  </h4>
                </div>
                <div class="subsection__content" id="">
                  <p class="font-xsmall">
                    Calls to find out about a decision or action that the user expects the service to take. For example:
                  </p>  
                  <ul class="list list-bullet font-xsmall">
                    <li>to find out what has happened to information previously supplied</li>
                    <li>to ask about the status of an application</li>
                    <li>to find out when a payment will be made</li>
                    <li>to ask why they haven’t heard from the service</li>
                  </ul>
                  <table>
                    <tbody>
                      <tr>
                        <th>Organisation</th>
                        <th class="numeric">Calls to get information</th>
                        <th class="numeric">Call sample size</th>
                        <th class="numeric">Percentage of calls to get information</th>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="subsection">
                <div class="subsection__header">
                  <h4 class="subsection__title">
                    <span class="black">To challenge a decision</span> 2k 
                    <span class="lede">(20%)</span>
                  </h4>
                </div>
                <div class="subsection__content" id="">
                  <p class="font-xsmall">
                    Calls to dispute an instruction or request from the service or to appeal an outcome. For example:
                  </p>  
                  <ul class="list list-bullet font-xsmall">
                    <li>to appeal an outcome or decision</li>
                  </ul>
                  <table>
                    <tbody>
                      <tr>
                        <th>Organisation</th>
                        <th class="numeric">Calls to get information</th>
                        <th class="numeric">Call sample size</th>
                        <th class="numeric">Percentage of calls to get information</th>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="subsection">
                <div class="subsection__header">
                  <h4 class="subsection__title">
                    <span class="black">Other</span> 1.5k 
                    <span class="lede">(15%)</span>
                  </h4>
                </div>
                <div class="subsection__content" id="">
                  <p class="font-xsmall">
                    Calls that don’t fit into the three previous categories. For example:
                  </p>  
                  <ul class="list list-bullet font-xsmall">
                    <li>to do a transaction</li>
                    <li>to get help using the service</li>
                    <li>to respond to a letter, call etc from the service</li>
                    <li>to check that they’ve done the right thing</li>
                    <li>to update their information when their situation changes</li>
                    <li>to deregister from the service</li>
                    <li>to tell the service its information is incorrect</li>
                  </ul>
                  <table>
                    <tbody>
                      <tr>
                        <th>Organisation</th>
                        <th class="numeric">Calls to get information</th>
                        <th class="numeric">Call sample size</th>
                        <th class="numeric">Percentage of calls to get information</th>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                      <tr>
                        <td><a href="#">Name of organisation</a></td>
                        <td class="numeric">N</td>
                        <td class="numeric">N</td>
                        <td class="numeric">N%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    

  </div><!--calls block-->

  <hr>


  <!-- list of things this page is aggregated from -->

  <div class="grid-row" id="orgs">
    <div class="column-one-third">
      &nbsp;
    </div>
    <div class="column-two-thirds">
      <h2 class="heading-medium">How this data is collected and calculated</h2>
      <p>This page is aggregated from data about services delivered by {{ organisation.name }}. It is currently made up of
        {% if organisation_type == 'department' and organisation.agencies.length > 0 %}
            {{ organisation.agencies.length }} agencies and
          {% endif %}
          {{ organisation.tasks.length}} services:
      </p>

      <!-- agencies -->
      {% if organisation_type == 'department' and organisation.agencies.length > 0 %}
        <h4 class="bold-medium">{{ organisation.agencies.length }} agencies</h4>
        <ul class="list">
          {% for agency in organisation.agencies %}
            <li><a href="{{ agency.friendly_id }}">{{ agency.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

      <!-- services -->
      <h4 class="bold-medium">{{ organisation.tasks.length }} services</h4>
      <ul class="list">
        {% for task in organisation.tasks %}
          <li><a href="{{ task.friendly_id }}">{{ task.name }}</a></li>
        {% endfor %}
      </ul>

    </div>
  </div>

  </div>

</main>

{% endblock %}
