{% extends "layouts/layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block page_banner %}
    {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      	<span class="heading-secondary">Aggregated service data for</span>
        {{ organisation.name }}
      </h1>
      <dl class="metadata">
        <dt>Part of:</dt>
        <dd><a href="/performance-data/government">UK Government</a></dd>
        <dt>Includes:</dt>
        <dd><a href="#orgs">
          {% if organisation_type == 'department' %}
            {{ organisation.agencies.length }} agencies,
          {% endif %}
          {{ organisation.tasks.length}} tasks</a></dd>
        <dt>Download data:</dt>
        <dd><a href="#">CSV (10KB)</a></dd>
      </dl>
    </div>
    <div class="column-third">
      <br><br>
    </div>
  </div>

  <hr>

  <!-- date range -->

  <div class="grid-row">
    <div class="column-full">
      <p class="lede">Showing data from 1 October 2015 to 30 September 2016 <a href="javascript:void(0)" id="change-date">Change</a></p>
      <div class="date-range-selector initially-hidden">
        <div class="form-group">
          <label class="form-label" for="select-box">Show period starting</label>
          <select class="form-control" id="select-box">
            <option>June 2015</option>
            <option>March 2015</option>
            <option>December 2014</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label" for="select-box">up to</label>
          <select class="form-control" id="select-box">
            <option>June 2015</option>
            <option>March 2015</option>
            <option>December 2014</option>
          </select>
        </div>
        <input class="button" type="submit" value="Apply changes">
        <a href="javascript:void(0)">Cancel</a>
      </div>
    </div>
  </div>

  <!-- summary -->

  <div class="grid-row data-summary">
    <div class="column-full">
      <a href="#transactions" class="column-one-third data-box-alt">
        <div class="data">
          <h2 class="bold-xlarge">{{ volume_summary.total_received }}m</h2>
          <p>transactions</p>
        </div>
      </a>
      <a href="#channels" class="column-one-third data-box-alt">
        <div class="data">
          <h2 class="bold-xlarge">{{ volume_summary.received_online_pct_total }}%</h2>
          <p>of transactions start online</p>
        </div>
      </a>
      <a href="#user-effort" class="column-one-third data-box-alt">
        <div class="data">
          <h2 class="bold-xlarge">62%</h2>
          <p>of callers prefer to complete transactions over the phone</p>
        </div>
      </a>
    </div>
  </div>

  <!-- transactions info -->

  <div class="grid-row" id="transactions">
    <div class="column-two-thirds">
      <h3 class="bold-large">Transactions</h3>
      <p>The total number of transactions handled by services within this department.</p>
      <br>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <div class="data">
        <h2 class="bold-xlarge">{{ volume_summary.total_received }}m</h2>
        <p class="bold-small">transactions</p>
        <p class="text-supporting"><span class="data-neutral-arrow">&#9650;</span>+8% since previous year</p>
      </div>
    </div>

    <div class="column-third">
      <div class="data">
        <h2 class="bold-xlarge">89%</h2>
        <p class="bold-small">successful transactions</p>
        <p class="text-supporting"><span class="data-neutral-arrow">&#9650;</span>+1% since previous year</p>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      {% if organisation_type == 'department' and grouped_volumes.length > 0 %}
        <h3 class="heading-medium">Transactions by agency</h3>
      {% elif organisation_type == 'agency' or (organisation_type == 'department' and grouped_volumes.length == 0) %}
        <h3 class="heading-medium">Transactions by task</h3>
      {% endif %}
    </div>
  </div>

  {% for group in grouped_volumes %}
    <div class="grid-row">
      <div class="column-half">
        <p>
          {% if organisation_type == 'department' %}
            <a href="{{ group.friendly_id }}">{{ group.name }}</a></p>
          {% elif organisation_type == 'agency' %}
            <a href="{{ group.friendly_id }}">{{ group.name }}</a></p>
          {% endif %}
      </div>
      <div class="column-half">
        <span class="spark-bar">
          <span style="width: {{ group.pct_total_received }}%">
             <h4 class="bold-medium">{{ group.total_received }}m</h4>
          </span>
        </span>
      </div>
    </div>
  {% endfor %}

  {% if organisation_type == 'department' and grouped_volumes.length == 0 %}
    {% for transaction in transaction_volumes %}
      <div class="grid-row">
        <div class="column-half">
          <p>
            <a href="{{ transaction.friendly_id }}">{{ transaction.name }}</a></p>
        </div>
        <div class="column-half">
          <span class="spark-bar">
            <span style="width: {{ transaction.pct_total_received }}%">
               <h4 class="bold-medium">{{ transaction.total_received }}m</h4>
            </span>
          </span>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <div class="grid-row">
    <div class="column-half">
      <p class="bold-xsmall"><a href="#">View all</a></p>
    </div>
    <div class="column-half">
    </div>
  </div>

  <hr>

  <!-- channel breakdown -->

  <div class="grid-row" id="channels">
    <div class="column-two-thirds">
      <h2 class="heading-large">Channel breakdown</h2>
      <p>A channel is defined as "the way that a service receives the user’s information".</p>
      <br>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">{{ volume_summary.received_online_pct_total }}%</h2>
        <p class="bold-small">online</p>
        <p class="text-supporting"><span class="data-neutral-arrow">&#9650;</span>+8% since previous year</p>
      </div>
    </div>
    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">{{ volume_summary.received_phone_pct_total }}%</h2>
        <p class="bold-small">phone</p>
        <p class="text-supporting"><span class="data-neutral-arrow">&#9650;</span>+8% since previous year</p>
      </div>
    </div>
    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">{{ volume_summary.received_paper_pct_total }}%</h2>
        <p class="bold-small">paper</p>
        <p class="text-supporting"><span class="data-neutral-arrow">&#9650;</span>+8% since previous year</p>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">{{ volume_summary.received_face_to_face_pct_total }}%</h2>
        <p class="bold-small">face to face</p>
        <p class="text-supporting"><span class="data-neutral-arrow">&#9650;</span>+8% since previous year</p>
      </div>
    </div>
    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">{{ volume_summary.received_other_pct_total }}%</h2>
        <p class="bold-small">other</p>
        <p class="text-supporting"><span class="data-neutral-arrow">&#9650;</span>+8% since previous year</p>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <table class="table-chart">
        <tbody>
          <tr>
            <th colspan="2" class="bold-medium">Reasons users call</th>
          </tr>
          <tr>
            <td>Prefers to use the phone to do their transaction</td>
            <td>
              <span class="table-chart-number">65%</span>
              <span class="table-chart-bar"><span style="width: 65%"></span></span>
            </td>  
          </tr>
          <tr>
            <td>Wants an update on the progress of their transaction</td>
            <td>
              <span class="table-chart-number">19%</span>
              <span class="table-chart-bar"><span style="width: 19%"></span></span>
            </td>  
          </tr>
          <tr>
            <td>Needs more information to use the service</td>
            <td>
              <span class="table-chart-number">8%</span>
              <span class="table-chart-bar"><span style="width: 8%"></span></span>
            </td>  
          </tr>
          <tr>
            <td>Was asked to call by the service</td>
            <td>
              <span class="table-chart-number">6%</span>
              <span class="table-chart-bar"><span style="width: 6%"></span></span>
            </td>  
          </tr>
          <tr>
            <td>Wants to challenge the outcome of their transaction</td>
            <td>
              <span class="table-chart-number">1%</span>
              <span class="table-chart-bar"><span style="width: 1%"></span></span>
            </td>  
          </tr>
          <tr>
            <td>Has accessibility or language needs</td>
            <td>
              <span class="table-chart-number">1%</span>
              <span class="table-chart-bar"><span style="width: 1%"></span></span>
            </td>  
          </tr>
        </tbody>      
      </table>
    </div>
  </div>

  <hr>

  <div class="grid-row" id="transactions">
    <div class="column-two-thirds">
      <h3 class="bold-large">Calls</h3>
      <p>What this data is.</p>
      <br>
    </div>
  </div>

  <div class="grid-row" id="transactions">
    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">100k</h2>
        <p class="bold-small">calls received</p>
      </div>
    </div>
    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">+8%</h2>
        <p class="bold-small">increase in calls received since previous year</p>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <table class="table-chart">
      <tbody>
        <tr>
          <th colspan="2" class="bold-medium">Reasons users call</th>
        </tr>
        <tr>
          <td>Prefers to use the phone to do their transaction</td>
          <td>
            <span class="table-chart-number">65%</span>
            <span class="table-chart-bar"><span style="width: 65%"></span></span>
          </td>
        </tr>
        <tr>
          <td>Wants an update on the progress of their transaction</td>
          <td>
            <span class="table-chart-number">19%</span>
            <span class="table-chart-bar"><span style="width: 19%"></span></span>
          </td>
        </tr>
        <tr>
          <td>Needs more information to use the service</td>
          <td>
            <span class="table-chart-number">8%</span>
            <span class="table-chart-bar"><span style="width: 8%"></span></span>
          </td>
        </tr>
        <tr>
          <td>Was asked to call by the service</td>
          <td>
            <span class="table-chart-number">6%</span>
            <span class="table-chart-bar"><span style="width: 6%"></span></span>
          </td>
        </tr>
        <tr>
          <td>Wants to challenge the outcome of their transaction</td>
          <td>
            <span class="table-chart-number">1%</span>
            <span class="table-chart-bar"><span style="width: 1%"></span></span>
          </td>
        </tr>
        <tr>
          <td>Has accessibility or language needs</td>
          <td>
            <span class="table-chart-number">1%</span>
            <span class="table-chart-bar"><span style="width: 1%"></span></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr>

  <!-- calls -->

  <!-- <div class="grid-row" id="user-effort">
    <div class="column-two-thirds">
      <h2 class="heading-large">Calls</h2>
      <p>This data is collected at contact centres to find the reasons users are calling about services. <a href="/performance-data/glossary">Read more about what the categories mean</a>.</p>
      <br>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <div class="data">
        <h2 class="bold-xlarge">200m</h2>
        <p class="bold-small">calls received</p>
      </div>
    </div>
    <div class="column-third">
      <div class="data">
        <h2 class="bold-xlarge">+8%</h2>
        <p class="bold-small">more calls received than previous year</p>
      </div>
    </div>
    <div class="column-third">
      <div class="data">
        <h2 class="bold-xlarge">30%</h2>
        <p class="bold-small">of calls are to complete transactions</p>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <table class="table-chart">
      <tbody>
        <tr>
          <th colspan="2" class="bold-medium">
            Reasons users call<br>
            <span class="text-supporting">Based on a sample of 12,000 calls over 3 months</span>
          </th>
        </tr>
        <tr>
          <td>Prefers to use the phone to do their transaction</td>
          <td>
            <span class="table-chart-number">62%</span>
            <span class="table-chart-bar"><span style="width: 62%"></span></span>
          </td>
        </tr>
        <tr>
          <td>Wants an update on the progress of their transaction</td>
          <td>
            <span class="table-chart-number">17%</span>
            <span class="table-chart-bar"><span style="width: 17%"></span></span>
          </td>
        </tr>
        <tr>
          <td>Needs more information to use the service</td>
          <td>
            <span class="table-chart-number">10%</span>
            <span class="table-chart-bar"><span style="width: 10%"></span></span>
          </td>
        </tr>
        <tr>
          <td>Was asked to call by the service</td>
          <td>
            <span class="table-chart-number">7%</span>
            <span class="table-chart-bar"><span style="width: 7%"></span></span>
          </td>
        </tr>
        <tr>
          <td>Wants to challenge the outcome of their transaction</td>
          <td>
            <span class="table-chart-number">3%</span>
            <span class="table-chart-bar"><span style="width: 3%"></span></span>
          </td>
        </tr>
        <tr>
          <td>Has accessibility or language needs</td>
          <td>
            <span class="table-chart-number">1%</span>
            <span class="table-chart-bar"><span style="width: 1%"></span></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr>

  <!-- casework -->

  <div class="grid-row" id="user-effort">
    <div class="column-two-thirds">
      <h2 class="heading-large">Processing</h2>
      <p>This data is collected to find the types of processing errors that require services to contact users.</p>
      <br>
    </div>
  </div>

  <div class="grid-row">
    <table class="table-chart">
      <tbody>
        <tr>
          <th colspan="2" class="bold-medium">
            Reasons for processing errors<br>
            <span class="text-supporting">Based on a sample of 500 cases over 4 weeks</span>
          </th>
        </tr>
        <tr>
          <td>User's information was illegible</td>
          <td>
            <span class="table-chart-number">50%</span>
            <span class="table-chart-bar"><span style="width: 50%"></span></span>
          </td>
        </tr>
        <tr>
          <td>User's information was incomplete</td>
          <td>
            <span class="table-chart-number">30%</span>
            <span class="table-chart-bar"><span style="width: 30%"></span></span>
          </td>
        </tr>
        <tr>
          <td>User filled out the wrong form or used the wrong process</td>
          <td>
            <span class="table-chart-number">20%</span>
            <span class="table-chart-bar"><span style="width: 20%"></span></span>
          </td>
        </tr>
        <tr>
          <td>User's information didn't match government records</td>
          <td>
            <span class="table-chart-number">10%</span>
            <span class="table-chart-bar"><span style="width: 10%"></span></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!--   <div class="grid-row">
    <div class="column-two-thirds">
       <details>
          <summary role="button" aria-controls="details-content-1" aria-expanded="true"><span class="summary font-xsmall">About this data</span></summary>
          <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="false">
            <dl class="metadata">
              <dt>Source:</dt>
              <dd>HM Treasury</dd>
              <dt>Updated:</dt>
              <dd>30 September 2016</dd>
              <dt>Collected via:</dt>
              <dd>Manual entry using online form</dd>
              <dt>Notes:</dt>
              <dd>Any additional notes the data uploader wishes to add.</dd>
            </dl>
          </div>
      </details>
    </div>
  </div> -->

  <hr>
 -->
  <!-- list of services -->

  <div class="grid-row" id="orgs">
    <div class="column-two-thirds">
      <h2 class="heading-large">What this data is aggregated from</h2>
      <p>Transaction data for {{ organisation.name }}, which currently consists of
        {% if organisation_type == 'department' and organisation.agencies.length > 0 %}
            {{ organisation.agencies.length }} agencies and
          {% endif %}
          {{ organisation.tasks.length}} tasks.
      </p>
      <br>
    </div>
  </div>

    <div class="grid-row">
      {% if organisation_type == 'department' and organisation.agencies.length > 0 %}
        <div class="column-one-third">
          <div class="data">
            <h2 class="bold-xlarge">{{ organisation.agencies.length }}</h2>
            <p class="bold-small">agencies</p>
            <ul class="list font-xsmall">
              {% for agency in organisation.agencies %}
                <li><a href="{{ agency.friendly_id }}">{{ agency.name }}</a></li>
              {% endfor %}
              <li class="bold-xsmall"><a href="#">View all</a></li>
            </ul>
          </div>
        </div>
      {% endif %}

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">{{ organisation.tasks.length }}</h2>
        <p class="bold-small">tasks</p>
        <ul class="list font-xsmall">
          {% for task in organisation.tasks %}
            <li>
              <a href="{{ task.friendly_id }}">{{ task.name }}</a></p>
            </li>
          {% endfor %}
          <li class="bold-xsmall"><a href="#">View all</a></li>
        </ul>
      </div>
    </div>
  </div>

  </div>

</main>

{% endblock %}

{% block body_end %}
{{ super() }}
  <script src="/javascripts/date-range-selector.js"></script>
{% endblock %}
